################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C++/DeterminingDNAHealth/.vs/DeterminingDNAHealth/v16
/C++/DeterminingDNAHealth/Debug
/C++/DeterminingDNAHealth/DeterminingDNAHealth/Debug
/C++/DynamicArray/.vs/DynamicArray/v16
/C++/DynamicArray/Debug
/C++/DynamicArray/DynamicArray/Debug
/C++/MorganString/.vs/MorganString/v16
/C++/MorganString/Debug
/C++/MorganString/MorganString/Debug
/C#/DeterminingDNAHealth/.vs/DeterminingDNAHealth/v16
/C#/DeterminingDNAHealth/bin/Debug
/C#/DeterminingDNAHealth/obj/Debug
/C++/LowestCommonAncestor/.vs/LowestCommonAncestor/v16
/C++/LowestCommonAncestor/Debug
/C++/LowestCommonAncestor/LowestCommonAncestor/Debug
